{% extends "baseadmin.html" %}
{% block content %}
<div class="container">
    <h1>Edit Destinasi</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.nama.label }}
            {{ form.nama(class="form-control") }}
            {% if form.nama.errors %}
            <ul class="errors">
                {% for error in form.nama.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.slug.label }}
            {{ form.slug(class="form-control") }}
            {% if form.slug.errors %}
            <ul class="errors">
                {% for error in form.slug.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.deskripsi_singkat.label }}
            {{ form.deskripsi_singkat(class="form-control") }}
            {% if form.deskripsi_singkat.errors %}
            <ul class="errors">
                {% for error in form.deskripsi_singkat.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.deskripsi_lengkap.label }}
            {{ form.deskripsi_lengkap(class="form-control") }}
            {% if form.deskripsi_lengkap.errors %}
            <ul class="errors">
                {% for error in form.deskripsi_lengkap.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.tipe.label }}
            {{ form.tipe(class="form-control") }}
            {% if form.tipe.errors %}
            <ul class="errors">
                {% for error in form.tipe.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.lokasi.label }}
            {{ form.lokasi(class="form-control") }}
            {% if form.lokasi.errors %}
            <ul class="errors">
                {% for error in form.lokasi.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.kontak.label }}
            {{ form.kontak(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.status.label }}
            {{ form.status(class="form-control") }}
            {% if form.status.errors %}
            <ul class="errors">
                {% for error in form.status.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.map_embed_url.label }}
            {{ form.map_embed_url(class="form-control") }}
            {% if form.map_embed_url.errors %}
            <ul class="errors">
                {% for error in form.map_embed_url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.nomor_telepon.label }}
            {{ form.nomor_telepon(class="form-control") }}
            {% if form.nomor_telepon.errors %}
                <ul class="errors">
                    {% for error in form.nomor_telepon.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.gambar.label }}
            {{ form.gambar(class="form-control-file") }}
            {% if form.gambar.errors %}
            <ul class="errors">
                {% for error in form.gambar.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
        <a href="{{ url_for('admin_destinations') }}" class="btn btn-secondary">
            Batal</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}